a {
    text-decoration: none;
}

body {
    height: 200vh;
	font-family: Verdana, Geneva, sans-serif;
	font-size: .80em;
	color: #333333;
    background-image: url(images/humanDolphinInteraction.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    position: fixed;
    width: 100%;
    background-color: orange;
    height: 5vh;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    display: flex;
    position: relative;
    top: 1vh;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li a {
    color: white;
}

nav ul > li {
    border-left: none;
}

#underNav {
    height: 315px;
    width: 100%;
    position: relative;
    top: 5vh;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: green;

}