a {
    text-decoration: none;
}

body {
    height: 200vh;
	font-family: Verdana, Geneva, sans-serif;
	font-size: .80em;
	color: #333333;
    background-image: url(images/Island-Dolphins-Desktop-Backgrounds-www.wallpapersbrowse.com.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    position: fixed;
    width: 100%;
    background-color: orange;
    height: 5vh;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    display: flex;
    position: relative;
    top: 1vh;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li a {
    color: white;
}

nav ul > li {
    border-left: none;
}

#underNav {
    height: 315px;
    width: 100%;
    position: relative;
    top: 5vh;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.welcome {
    width: 25%;
    padding-top: 2vh;
    padding-right: 2vw;
    text-align: right;
    font-family: 'Courgette', cursive;
    font-size: 2em;
    font-weight: 500;
    color: #a11118;
}

#column {
    display: flex;
    flex-direction: column;
}
article {
    height: 100%;
    position: relative;
    top: 5vh;
    /* background-color: olive; */
    padding: 5vh 10vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}

section {
    /* background-color: chocolate; */
    width: 80%;
    text-align: center;
}

#sideContent {
    position: absolute;
    top: 110vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    /* background-color: chocolate; */
}

.ads {
    width: 8%;
    height: 70vh;
    background-color:blue;
    margin: 1%;
}