body {
    height: 200vh;
	font-family: Verdana, Geneva, sans-serif;
	font-size: .80em;
	color: #333333;
    background-image: url(images/cetaceansPoster.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}